<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShellApplication" value="[Full path to your application.exe]"/>
    <add key="ExclusionGroups" value="BUILTIN\SomeNonAdministratorLocalGroup|CONTOSO\NoAlternateShell"/>
    <add key="LogGroupMembershipsToEventLog" value="TRUE"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>